.row.row-30
	.col-sm-6.col-lg-4.wow-outer
		// Pricing Minimal
		article.pricing-minimal.wow.slideInRight
			h5.pricing-minimal-title: a(href='single-service.html') Basic
			p.pricing-minimal-price
				span.pricing-minimal-price-currency $
				| 49.00
			.pricing-minimal-divider
			p This package will suit you if you are a private entrepreneur or a small business owner looking for some advice in accounting.
			a.button.button-primary.button-winona(href='single-service.html') Order service

	.col-sm-6.col-lg-4.wow-outer
		// Pricing Minimal
		article.pricing-minimal.wow.slideInRight(data-wow-delay='.05s')
			h5.pricing-minimal-title: a(href='single-service.html') Standard
			p.pricing-minimal-price
				span.pricing-minimal-price-currency $
				| 67.00
			.pricing-minimal-divider
			p Whether you own a small company or a mid-sized corporation, our Standard package can offer you all necessary accounting services.
			a.button.button-primary.button-winona(href='single-service.html') Order service

	.col-sm-6.col-lg-4.wow-outer
		// Pricing Minimal
		article.pricing-minimal.wow.slideInRight(data-wow-delay='.1s')
			h5.pricing-minimal-title: a(href='single-service.html') Gold
			p.pricing-minimal-price
				span.pricing-minimal-price-currency $
				| 86.00
			.pricing-minimal-divider
			p Owners of international enterprises cannot go for anything less than full accounting support and that’s what we offer with this package.
			a.button.button-primary.button-winona(href='single-service.html') Order service
