extends  ../_skeleton

//- Includes
block variables
	- var activeCategory = 'features'
	- var pageName = 'Tables'

block page
	include ../sections/_header-minimal

	+breadcrumbs({
		category: activeCategory,
		path: [pageName]
	})

	include ../sections/_section-job-positions

	// Page Footer
	include ../sections/_footer-minimal
